body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    font-size: 2em;
    font-family: sans-serif;
}

p {
    font-size: 1em;
    color: #ff00c847;
}

button {
    background-color: purple;
    color: #00FFFF;
    font-size: 1em;
    width: 100PX;
    height: 100PX;
}